[2015-05-05 22:03] mixonic opened #2 "Error using precompiler"
Getting:

[code]

Do we need a certain version of Babel?

[2015-05-05 22:07] pangratz commented on #2
Replacing a node with a source string has been added in https://github.com/babel/babel/commit/0fc02f2cf09e0b1fe8738646c815b869921863b9 (v5.2.7), but there was a bug so I think at least https://github.com/babel/babel/commit/7e6e5d474641a2bacbfb9602fd371c149b37938c (v5.2.10) is required ...

[2015-05-05 22:17] #2 closed

[2015-05-05 22:18] mixonic commented on #2
IT LIVES

![](https://judyblackcloud.files.wordpress.com/2012/04/itlives.jpg)

[2015-05-05 22:34] pangratz commented on #2
![obyneqd](https://cloud.githubusercontent.com/assets/341877/7484201/53da44dc-f386-11e4-8898-0af25041ddec.gif)

[2015-05-06 04:18] pangratz opened #3 "Check babel version and warn if prerequisites are not met"
See comment in https://github.com/pangratz/ember-cli-htmlbars-inline-precompile/issues/2#issuecomment-99240023:

Check how this could be done and throw useful error message if possible ...

[2015-05-07 06:39] pangratz commented on #3
Moved pangratz/babel-plugin-htmlbars-inline-precompile#1

[2015-05-07 06:39] #3 closed

[2015-05-08 18:44] pangratz commented on #2
I added [a section in the README](https://github.com/pangratz/ember-cli-htmlbars-inline-precompile#troubleshooting) if this error occurs.

@mixonic may I ask if that solved the problem you had?

[2015-05-08 18:48] mixonic commented on #2
@pangratz yes. I had people delete the directory as you describe, run `npm cache clear` then `npm install`. I believe the `npm cache clear` is not needed.

[2015-05-08 18:54] pangratz commented on #2
Thank you sir.

[2015-05-11 19:57] wagenet opened #4 "`app.options` is undefined when using in an addon"
Issue is at https://github.com/pangratz/ember-cli-htmlbars-inline-precompile/blob/master/index.js#L13

[2015-05-12 17:09] pangratz commented on #4
Hey @wagenet, thanks for reporting. I have difficulties reproducing the issue though. Which Ember-CLI version does the addon use?

With the following steps I couldn't reproduce:

[code]

[2015-05-12 17:21] wagenet commented on #4
I ran into the issue when using the addon that depended on the hbs compiler in another ember app.

[2015-05-12 17:46] pangratz commented on #4
Ah, ok. I'll try that scenario then ...

[2015-05-20 09:40] pangratz opened #6 "Add blueprint for a component integration test"
Add or enhance current blueprints, so the `hbs` import is added and mustn't be typed manually. Also a pre-filled version of `this.render` would be nice:

[code]

[2015-05-20 17:24] rwjblue opened #7 "Registry Integration"
I am opening an issue here to dump some thoughts on how to take this addon a bit further, and how things like this can work in the future.

Random musings / brain dump:
- [registration should use the registry](https://github.com/pangratz/ember-cli-htmlbars-inline-precompile/blob/master/index.js#L13-L21) and [ember-cli-babel](https://github.com/babel/ember-cli-babel/blob/master/index.js#L32) should

[2015-05-20 17:25] stefanpenner commented on #7
this may also enable this to work correctly in nested-addons

[2015-05-20 17:25] rwjblue commented on #7
Exactly!

[2015-05-20 17:26] stefanpenner commented on #7
I think when we nail ^^, we should include this by default in ember-cli.

[2015-05-20 18:11] mixonic opened #8 "hbs is not defined"
I'm upgrading a project to a new version of Ember-CLI and getting an "hbs is not defined" ReferenceError. The transpiled template:

![](https://api.monosnap.com/rpc/file/download?id=IgIgg34v01MNjUjvMn6Hm4Rwa1gMmj)

From a test like so

[code]

[code]

v0.1.0 of the precompiler.

[2015-05-20 18:34] mixonic commented on #8
Seems `TaggedTemplateExpression` is not being called in the plugin.

[2015-05-20 18:45] mixonic commented on #8
Ergh. Recreated with Babel 5.2.17, 5.3.3, 5.4.4

[2015-05-20 19:41] pangratz commented on #7
Thank you so much for the directions @rwjblue :heart_eyes:. Your outline of using a registry for the plugins is definitely the way to go. I'll open a PR on `ember-cli-babel` shortly so we can see if I understood everything correctly.

I think I am gonna need help with that since I am not sure how to exactly reuse the precompilation functionality from `ember-cli-htmlbars` within `ember-cli-htmlbars

[2015-05-20 20:17] rwjblue commented on #7
I think we just need to expose a mechanism to the registered plugin, to preprocess a given string (without broccoli tree).  So adding a `compileString` to [this object that is registered](https://github.com/ember-cli/ember-cli-htmlbars/blob/master/ember-addon-main.js#L26-L33) *should* do the trick.  Then ember-cli-htmlbars-inline-precompile could grab the ember-cli-htmlbars's wrapper object out of

[2015-05-20 20:24] pangratz commented on #7
Ah, right. Thanks, will do that.

[2015-05-21 14:10] rwjblue commented on #7
ember-cli-htmlbars@0.7.7 has the tweaks suggested above, should be ready for testing here...

[2015-05-21 20:51] pangratz commented on #8
Thanks for reporting this! I will try to tackle this once #7 is addressed. Since babel is moving so fast I try to add some kind of smoke test for the future to check if the latest babel version works.

[2015-05-21 20:55] mixonic commented on #8
Hm, like an ember-try for babel :-) I'm not sure it is a babel issue at all though. I can likely repro with a branch of https://github.com/aptible/dashboard.aptible.com

[2015-05-21 21:15] pangratz commented on #7
:heart_eyes:

I opened a PR which refactors the `htmlbars-inline-precompile` setup according to this issue #9. Once ember-cli/ember-cli-htmlbars#53 is merged and a new version of `ember-cli-babel` is released, I will update ...

[2015-05-21 21:18] pangratz commented on #8
Something like that, yeah :wink: A reproduction-repo would be wunderbar.

[2015-05-21 23:07] pangratz commented on #8
I think I might have good news for you:

[code]

Creating a test using the `hbs` precompile stuff works. So it looks like #9 solves this. I will open a PR on https://github.com/aptible/dashboard.aptible.com updating the dependencies (`ember-cli-qunit`, `ember-cli-htmlbars`, `ember-cli-htmlbars-inline-precompile` and ` ember-cli-babel`) once all versions are released. :dancer:

[2015-05-22 02:38] mixonic commented on #8
@pangratz amaze. Thank you so much for taking the time to repro before I got you anything. I really appreciate your great work on this addon :-)

[2015-06-15 04:24] rwjblue opened #11 "Babel Deprecation for Path#remove"
[code]

[2015-06-15 05:33] pangratz commented on #11
Thanks for reporting! This should have been fixed via #10 which is released in `0.1.1`. Can you check which version you are using and close this issue if upgrading `ember-cli-htmlbars-inline-precompile` removes warning?

[2015-06-17 18:10] pangratz commented on #11
I'm going to close this as I think that this should be resolved. Please reopen if the problem still exists ...

[2015-06-17 18:10] #11 closed

[2015-06-22 18:29] pangratz commented on #6
Already taken care of by Sir @trabus in ember-cli/ember-cli#4272.

[2015-06-22 18:29] #6 closed

[2015-06-22 18:43] trabus commented on #6
@pangratz so the generated test looks :+1: ?

[2015-06-30 17:30] blimmer opened #13 "Babel Deprecation (returning a string from a visitor method)"
I've been seeing this on all of my integration tests lately.

[code]

[2015-06-30 18:38] pangratz commented on #13
What version of `ember-cli-htmlbars-inline-precompile`are you using `npm ls ember-cli-htmlbars-inline-precompile`)? This should be fixed in `v0.1.2` ...

[2015-06-30 19:53] blimmer commented on #13
This is still happening on `v0.1.2` on my TravisCI build:

I added this to my `.travis.yml`
[code]

and I'm still getting the error. Oddly enough, I'm not getting this when running my tests on OS X. I'm happy to do more debugging if that would be helpful.

[2015-06-30 19:54] christophermlne opened #14 "this.set() is undefined — contradicts ReadMe example"
In the example code (see below) taken from the readme, there is a call to this.set().

My understanding is that `this` will be set to the context of the test when the test is running. I don't see .set() defined on the test object when I toss in a debugger statement just before that line.

How does one pass data to an inline-precompiled hbs template? I've tried declaring the var in multiple places,

[2015-06-30 19:56] pangratz commented on #13
Oh boi, I found typo on the PR which should have fixed this. `replaceWithSourceString` -> `replaceWithStringSource`. New version should be up in a few minutes. Thanks for your report!

[2015-06-30 19:58] blimmer commented on #13
Nice find! Thank you for the prompt fix :beers:

[2015-06-30 20:09] pangratz commented on #13
Okidok, `v0.1.3` is released which should contain the fix. Can you give it a try an close this one if it has been fixed? :beers:

[2015-06-30 20:09] blimmer commented on #13
Coming up.

On Tue, Jun 30, 2015 at 2:09 PM Clemens Müller <notifications@github.com>
wrote:

[2015-06-30 20:12] blimmer commented on #13
It's fixed with `v0.1.3`. Thanks again.

[2015-06-30 20:12] #13 closed

[2015-06-30 20:17] pangratz commented on #13
:+1:

[2015-06-30 20:24] pangratz commented on #14
Hey! `this.set` should definitely work when using `integration: true` and `ember-qunit >= 0.3.2`. Do you have a a sample repo where the issue can be reproduced?

[2015-06-30 20:49] pangratz commented on #14
In 776a8e5ec1a797758d88e340561fb429acfe3644 I added a test for block parameters using this plugin. The test is similar to the one in the README. Do you spot any difference to the setup you have in your app/addon?

[2015-07-01 02:45] christophermlne commented on #14
thanks for taking the time to comment.

weird. i was about to follow up with more detail, but this.set() is suddenly working. perhaps i just needed to restart ember cli? the data i'm passing in is still not being rendered by the template, but that is a separate issue.

thanks again.

[2015-07-01 02:45] #14 closed

[2015-07-01 21:26] jrjohnson opened #15 "Babel deprecation notice"
Adding a component integration test and I'm seeing

[BABEL] tests/unit/components/my-component-test.js: Returning a string from a visitor method will be removed in the future. String building is NOT a substitute for AST generation. String building leads to terrible performance due to the additional parsing overhead and will lead to extremely brittle transformers. For those extreme cases where you'

[2015-07-02 01:52] jrjohnson commented on #15
Never mind.  I would have sworn I was on the latest version, but I would have been wrong.  No warning with 0.1.3.  Sorry.

[2015-07-02 01:52] #15 closed

[2015-07-08 10:37] chrisgame opened #16 "Best way to test a focusout event"
Hi,
I'm trying to test a simple text field component that fires an action on focus out. I was wanting to use the style you show in the second example in the readme (integration: true and this.render). How would you suggest i get focusout to fire on the component under test?

[2015-07-08 14:18] pangratz commented on #16
How does your test look like? Have you tried triggering the `blur` event instead?

[2015-07-09 08:05] chrisgame commented on #16
component.js looks like this...
[code]
template.hbs looks like...
[code]

test looks like...
[code]

[2015-07-09 08:08] chrisgame commented on #16
As you can see i have tried adding a input field and tried to focus on that in various ways to try and trigger the focus out on the component.

[2015-07-09 19:50] pangratz commented on #16
Triggering the `blur` on the `<textarea>` to simulate the lost focus works, as it seems. I don't know if this is the correct way though to test such behavior...

[code]

[2015-07-10 16:54] varblob opened #17 "How to use this in combination with coffeescript?"
Back ticks escaping to pure js in ember-cli-coffeescript.  Any suggestions on how to get past this.

[2015-07-10 17:15] pangratz commented on #17
Sorry, my Coffeescript skills are very limited so I don't really know if there is a way. I tried using [embedded JavaScript](http://coffeescript.org/#embedded) functionality but this doesn't work since the backtick is used for escaping ...

One possible way I could think of is defining the templates in an ES6 file and import them in your Coffeescript, but the advantage of seeing the template in th

[2015-07-10 20:10] varblob commented on #17
I think your idea should work but as you stated it makes the tests considerably less readable.  It's too bad there isn't a way to escape backticks so I could do something like `hbs\`{{#my-component}}hello{{/my-component}}\``.  I'm gonna see if maybe coffeescript has something to say about escaping backticks.

[2015-07-10 21:34] pangratz commented on #17
I have another idea: `hbs('template string')` will be precompiled by `ember-cli-htmlbars-inline-precompile` as well (not just tagged template strings, like currently). This allows you to write tests in Coffeescript like this:

[code]

[2015-07-10 22:22] pangratz commented on #17
I released `0.2.0` which adds support for passing a single string to the `hbs()` function. See [tests/unit/components/coffeescript-support-test.coffee](http://git.io/vqF8i) and [tests/unit/views/precompile-test.js](http://git.io/vqF8y) on how this is used.

Thanks for opening the issue and giving me the idea to enhance this addon! :beers:

I am going to close this issue. Feel free to comment if yo

[2015-07-10 22:22] #17 closed

[2015-07-10 22:49] pangratz commented on #16
I am going to close this issue, as I have posted a way how you could test such events. I am still not sure if this is the best way though, so please feel free to report back your findings. Would love to hear what eventually worked for your case...

[2015-07-10 22:49] #16 closed

[2015-07-11 00:28] varblob commented on #17
Works a charm, if you're ever in NY I owe you a beer!

[2015-07-11 09:54] pangratz commented on #17
Great, glad it works. Happy testing!

[2015-07-15 15:23] piotrpalek opened #18 "doesn't work with babel-core 5.7"
Hey, I just started using this and it's great for integration testing components.
Everything worked fine, after I started using it, but then I removed/reinstalled `node_modules` and `bower_components` and I got a build error which ended in `somefile: TODO` which I suspect is this line in babel-core: https://github.com/babel/babel/blob/master/packages/babel/src/traversal/path/replacement.js#L67.

W

[2015-07-15 16:03] pangratz commented on #18
Thanks for reporting! It looks like the line you suspected is the problem. I will investigate on how to resolve.

Maybe @sebmck can chime in and comment if there is a planned ETA when `replaceWithSourceString` (or a replacement) will land again ... :innocent:

[2015-07-15 16:04] sebmck commented on #18
@pangratz Shit, sorry. I was meant to add that back in but forgot.

[2015-07-15 16:05] pangratz commented on #18
Uff, a reply 38 seconds later. :zap: fast sebmck is fast :stuck_out_tongue_winking_eye:

[2015-07-15 16:08] pangratz commented on #18
@sebmck Would you accept a PR removing that line?

[2015-07-15 16:08] sebmck commented on #18
I was supposed to add it back. Give me a minute, pushing a new version.

[2015-07-15 16:09] sebmck commented on #18
Fixed as of 5.7.1, sorry!

[2015-07-15 16:10] pangratz commented on #18
You da man! Thanks for the megafast fix! :heart:

[2015-07-15 16:10] #18 closed

[2015-07-15 16:11] blimmer commented on #18
Thanks to both of you for fixing this so quickly.

[2015-07-15 18:57] piotrpalek commented on #18
this was fast, nice job thanks :+1:

[2015-07-21 08:06] chrisgame commented on #16
Cheers @pangratz, thats great.

[2015-08-12 09:03] albertjan opened #19 "Is it possible to use it in a jsbin?"
title says it all :smile:

I was trying to get one of the jsbins from the 0.10 guides to work with the latest release version.

http://guides.emberjs.com/v1.10.0/testing/testing-components/

http://jsbin.com/hikuhi/1/edit?html,js,output

[2015-08-13 23:01] pangratz commented on #19
Hey!

Sorry for the late response, but my GitHub notifications did somehow not work.

This addon does nothing more than replacing the tagged template strings with the precompiled version, by using `Handlebars.precompile` from the `ember-template-compiler.js`. This makes sense when the template compiler is not present in the final build.

In your JSBin example you already include the `ember-templat

[2015-08-13 23:01] #19 closed

[2015-08-14 07:21] albertjan commented on #19
Great thanks! :smile:

[2015-08-17 22:30] pangratz opened #20 "Add section about JSHint problems with ember-cli-mocha: Expected ')' and instead saw '"
https://github.com/switchfly/ember-cli-mocha/pull/57#discussion_r32633195

[2015-08-26 23:03] matthewconstantine commented on #14
Since this seemed unsolved and I ended up here in my quest to solve the missing `this.set` here's what the cause of the problem was for me.

I had something like this:
[code]

[2015-08-28 20:47] mrosenberg commented on #4
I'm running into the same issue. Is there a work around until this is merged?

[code]

[2015-08-31 15:56] pangratz commented on #14
Thanks for the heads up @matthewconstantine!

[2015-08-31 16:00] pangratz commented on #4
Okay, I initially thought that this might be solved via #9. But since that PR is not quite finished yet and the problem still exists, I went ahead and merged the changes proposed by @wagenet in #5, which are released in `v0.3.0`.

@mrosenberg can you test/verify that the latest release works for you?

[2015-08-31 16:00] #4 closed

[2015-08-31 16:10] #20 closed

[2015-08-31 17:52] mrosenberg commented on #4
I created a new addon and copied over my code this morning with no issues. I'm not sure what created the conflict but it seems to have been resolved.

[2015-09-04 12:39] danilNil opened #22 "Cannot read property 'name' of undefined"
Hello,

I got one problem when I tried to install this package:

[code]

ember-cli: 1.13.1
node: 0.12.2
npm: 2.12.1

Can someone help me with that?

[2015-09-04 13:53] pangratz commented on #22
What version of `ember-cli-htmlbars-inline-precompile` are you using? Any chance you can create a repository with a failing setup?

[2015-09-07 04:51] danilNil commented on #22
I've tried to install it with new ember-cli project and it works fine. So I think there is some issue in my code. Thanks!

[2015-09-07 05:06] pangratz commented on #22
Alright, thanks for the info. I am closing this issue then. Please feel free to reopen if you encounter this issue again ...

[2015-09-07 05:06] #22 closed

[2015-10-03 11:28] Kuzirashi commented on #8
Does it work in acceptance tests? I've imported it, but hbs is still undefined.

[2015-10-03 11:45] pangratz commented on #8
Can you give a sample code? Which version are you using?

[2016-04-03 11:49] koresar opened #26 "Is it okay to use for components in production?"
Hello there.

Thank you for the amazing plugin!

I found this site demonstrates how to use the module for components: http://www.ember-redux.com/
What are the pros and cons of doing that for production code?
Please note, I'm not asking about tests, but about components themselves.

Cheers

[2016-04-04 07:06] pangratz commented on #26
Hey @koresar,
thanks for the kind words!

Until I saw `ember-redux` I have never thought about using this plugin directly within a component :smile: It's an interesting idea!

I can think of the following downsides at the moment:

I don't know the specific details of `HTMLBars` compilation within `ember build --prod`, but maybe the template compilation in a production environment does some extra o

[2016-04-13 19:17] quaertym opened #27 "Compile templates with child components?"
It is not clear from README whether compiling this is possible in ember-cli integration tests:
[code]
where `my-component.hbs` uses another component as:
[code]
Can you help?

[2016-04-13 21:43] pangratz commented on #27
Merhaba @quaertym,

yep, that works. See [this ember-twiddle](https://ember-twiddle.com/34e0658598a477a10994a4e3dccb567f?fileTreeShown=false&numColumns=2&openFiles=tests.integration.components.my-component-test.js%2Ctemplates.components.other-component.hbs) as an example of how this is done.

[2016-04-13 21:43] #27 closed

[2016-04-13 22:39] quaertym commented on #27
@pangratz Thanks but how to do this if parent component has no block and `{{yield}}`?

[2016-04-14 17:34] pangratz commented on #27
That works too, see [this ember-twiddle](https://ember-twiddle.com/c910e90fe30b48920653681e38532a95?fileTreeShown=false&numColumns=2&openFiles=tests.integration.components.my-component-test.js%2Ctemplates.components.my-component.hbs).

Are you running into a particular issue with `ember-cli-htmlbars-inline-precompile`?

[2016-04-14 19:50] quaertym commented on #27
No, actually. I think our test code is problematic.
Tesekkurler. :+1:

[2016-04-14 21:23] pangratz commented on #27
Ah, ok. Let me know if you run into any issue, but basically all the templates which work in ember should work in the integration tests too...

[2016-08-13 03:31] rinoldsimon opened #38 "ember-cli-htmlbars-inline-precompile is opting out of caching due to an AST plugin that does not provide a caching strategy: `v-get`"
Deprecation message while starting Ember serve !.

preprocessors are supposed to provide a caching mechanism now, but perhaps those modules don't do it yet

[2016-08-13 11:13] simonihmig commented on #38
After upgrading an addon to ember-cli 2.7.0 I get similar messages, see the TravisCI log here: https://travis-ci.org/kaliber5/ember-bootstrap/builds/152026260

[2016-08-13 16:01] rwjblue commented on #38
This is the same underlying issue as https://github.com/ember-cli/ember-cli-htmlbars/issues/91, and the error is with the individual AST plugins.

In this case, it is provided by ember-cp-validations which was fixed in https://github.com/offirgolan/ember-cp-validations/pull/305.

[2016-08-13 16:01] #38 closed

[2016-08-13 16:01] rwjblue commented on #26
Yes, should work fine.

[2016-08-13 16:01] #26 closed

[2016-08-13 18:22] koresar commented on #26
Thanks @rwjblue. I appreciate.

What are the pros and cons of doing that for production code? Anything from the top of the head?

[2016-08-18 20:39] stefanpenner opened #41 "templateCompiler change during session does not invalidate the cache"
https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/pull/34#discussion_r75365453

this results in a rebuild being required, instead we should be sure to set this up so the cache-key is  recalculated on each rebuild.

[2016-08-29 13:10] rwwagner90 opened #44 "How to render outside of tests?"
I've been trying to use this to render template strings into markup that I can drop into 3rd party libraries and such, but have had no luck. There seems to be some magic in `this.render` in tests and the only way to hook into the same magic myself has been to define the template as `layout` in a component. Is there a way to manually render these templates?

[2016-09-29 13:29] rwwagner90 commented on #44
This has proved to be impossible to get working. Since I have not been able to figure out a solution, or encountered anyone who has, I will assume it is impossible for now. Please feel free to resurrect the issue, if it is possible.

[2016-09-29 13:29] #44 closed

[2016-11-05 03:26] locks commented on #8
Hello everyone, can we get a reproduction that shows this is still an issue?

[2016-11-16 16:08] DHedgecock opened #66 "SyntaxError with Addon Using `included` Hook"
Hello,

My team is using your package in the component files of an addon like so:

`/addon/components/some-component/component.js`

[code]

This works great until I attempt to add an `included` hook to the addon `index.js` file:

[code]

As soon as I add that included hook I get this error attempting to run the addon or use it inside of an Ember app:

[code]

Running:

[code]

with:

[code]

Any i

[2016-11-16 16:44] rwjblue commented on #66
You are not invoking super quite right, though I'm not certain if that is the fundamental issue.

It should be:

    this._super.included.apply(this, arguments);

[2016-11-16 17:10] DHedgecock commented on #66
YASSSSSS. Thank you @rwjblue !!!

So is this always the correct way to invoke super for this hook? In the ember-cli guide at [Developing Addons and Blueprints](https://ember-cli.com/extending/#developing-addons-and-blueprints)  there are examples with:

- no `_super`
- `this._super.included(app);`
-`return this._super.included(app);` (for an in-repo addon)

I'd be happy to submit a PR updating the

[2016-11-16 17:17] rwjblue commented on #66
Yes, those examples are wrong. I'd love a PR fixing.

[2016-11-16 17:17] #66 closed

[2016-11-16 17:17] rwjblue commented on #66
Closing since this seems resolved now

[2017-04-19 16:58] Talento90 opened #70 "Compilation inside ember controller"
Hi guys, is it possible to use this method inside a ember controller? I want to get the string of the compiled component as a result.

[code]

[2017-04-20 08:10] #70 closed

[2017-04-20 08:12] Talento90 commented on #44
How did you solve this problem? I am having the same question!

[2017-04-27 10:38] tniezurawski opened #71 "Could not find module `htmlbars-inline-precompile` imported from ..."
... <- here goes integration test "name-path" for component

In my component's integration test I make import:
[code]
and use `hbs` this way:
[code]

This works good in version: `0.3.6` but I experience the error mentioned in the title in version `0.4.0`.
I'm running on `ember-cli: 2.12.2` if that matters.

Did I miss something in the latest upgrade?

[2017-04-27 10:44] rwjblue commented on #71
0.4.0 requires a miner-cli-babel@6, did you also update that?

We need to make this a peerDependency so you would see a warning about this when installing...

[2017-04-27 11:16] tniezurawski commented on #71
I didn't ;)

So now I upgrade these two together and everything is working properly :tada:
[code]

Thanks!

[2017-04-27 15:06] rwjblue commented on #71
No problem! We definitely need to make this a bit more obvious.  I think the first step is `peerDependnecies`, but we should probably also check `this.parent.addons` and see what ember-cli-babel version is in use then warn as appropriate...

[2017-05-02 15:08] brianhjelle opened #74 "Cannot read property 'lt' of undefined"
I tried running 'ember new' but it was not successful.  I am using Windows 7, Node 6.10.1, and ember-cli 2.12.1.  The error was "Cannot read property 'lt' of undefined".

[2017-05-02 15:30] kfoisy commented on #74
I just started seeing some of my builds fail with this error as well. It appears to be due to the `lt` reference on this commit: https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/commit/d82e88aea19e619a951768cad825d3e742288e0e#diff-168726dbe96b3ce427e7fedce31bb0bcR18

[2017-05-02 15:46] rwjblue commented on #74
Can you tell me what the results of `npm ls ember-cli-htmlbars-inline-precompile` are?

I suspect you got v0.3.7 which was broken and fixed with https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/commit/12f146c8aae8ff0259c06f4d77281ba95af54645 (and released as v0.3.8 a few minutes after publishing 0.3.7).

[2017-05-02 15:51] brianhjelle commented on #74
When I run `npm ls ember-cli-htmlbars-inline-precompile` I get _-- (empty) npm ERR!     1_

[2017-05-02 16:18] brianhjelle commented on #74
I just tried `ember new` again and it worked without any errors.  As you said, I think it just took a little bit of time for v0.3.8 to get pulled in.

[2017-05-02 16:31] rwjblue commented on #74
OK, great! Sorry you got bit by my mistake (and the lack of good test coverage for that part of this addon).

[2017-05-02 16:31] #74 closed

[2017-05-02 16:33] brianhjelle commented on #74
Thank you for your help and quick responses!

[2017-05-02 16:59] batosi175 opened #75 "TypeError: Cannot read property 'apply' of undefined..."
tried installing an older version of ember for a project i need to work on and i'm starting to get this error as of today.

TypeError: Cannot read property 'apply' of undefined
    at Class.init (/Users/Carlos/Documents/Ember/node_modules/ember-cli-htmlbars-inline-precompile/index.js:15:21)
    at new Class (/Users/Carlos/Documents/Ember/node_modules/core-object/core-object.js:18:12)
    at /Users

[2017-05-02 17:38] batosi175 commented on #75
Changed my ember-cli-htmlbars-inline-precompile from "^0.3.1" to "^0.3.1 <0.3.6".  and it now builds again. was there a dependency introduced in the 0.3.8 version?

[2017-05-02 18:06] rwjblue commented on #75
No dependencies changed, but very old ember-cli versions didn't properly support `init` calling `_super`.  You should absolutely look into updating your ember-cli version, there has been a massive amount of improvements made...

[2017-05-02 23:12] steveax commented on #75
FYI, we're on ember* v2.4.x (which is still supported as an LTS, no?) and this broke us.

[2017-05-02 23:39] rwjblue commented on #75
ember-cli does not have any LTS system, only Ember itself does.

I'm happy to fix this, just haven't had a chance yet 😔

[2017-05-03 00:06] steveax commented on #75
@rwjblue, thanks and understood, meant that as a heads up that this might break less than "very old" installs.

[2017-05-03 03:19] MiguelMadero commented on #75
I left a comment with some info.

https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/commit/62cd383bdc10b068b4b96cee395bd571a9b14239#commitcomment-21993131

[2017-05-03 11:34] #75 closed

[2017-05-06 12:24] RobIsHere opened #78 "Error message precompile@0.3 requires the host to use ember-cli-babel@5 despite @0.4 installed"
I tried to upgrade a large project and get this error:

ember-cli-htmlbars-inline-precompile@0.3 requires the host to use ember-cli-babel@5. To use ember-cli-babel@6 please upgrade ember-cli-htmlbars-inline-precompile to 0.4.

I have ember-cli-htmlbars-inline-precompile to 0.4.2 installed. (with 0.4.0 it didn't work, too).

[2017-05-06 12:25] RobIsHere commented on #78
https://github.com/emberjs/ember.js/issues/15211

[2017-05-06 12:36] RobIsHere commented on #78
[code]

[2017-05-06 12:42] RobIsHere commented on #78
https://github.com/DockYard/ember-changeset-validations/pull/142

[2017-05-08 03:40] dfalling commented on #71
I'm having this same problem, even after updating both of the packages:
[code]

What else do I need to do?  All of my packages are up to date.

[2017-05-08 12:54] rwjblue commented on #71
@dfalling - I've also seen this reported by @lukemelia in slack, is there a way that you might be able to create a demo for me to look at?

[2017-05-08 13:03] dfalling commented on #71
@rwjblue - Sure, I'll try to whip together a much smaller demo that illustrates my problems.  Thanks!

[2017-05-08 14:59] dfalling commented on #71
https://github.com/dfalling/hbs_demo

I ended up slimming down an existing app rather than trying to build up a new one with the same problems.  If there's too much noise from the addons I've, I can do a few more passes through to clean them up.

[2017-05-08 17:32] DHedgecock opened #79 "2.13 Addon Dependency Usage"
Hello, I know that this isn't a currently 'supported' use case, but our team has a few addons that use this package to declare the template files for components inside the component file instead of the template file. It's really, really nice for making small components easy to work with when all of the assets are in one file instead of two.

After updating the addons to CLI 2.13, we can no longer

[2017-05-08 18:35] rwjblue commented on #79
FWIW, I am working on this now.  The basic issue comes down to https://github.com/ember-cli/ember-cli-version-checker/issues/27.

[2017-05-08 19:43] DHedgecock commented on #79
![Yasss](https://media.giphy.com/media/kGZ4jJguXT5C0/giphy.gif)

That's awesome 👍

[2017-05-08 20:41] rwjblue commented on #79
https://github.com/ember-cli/ember-cli-version-checker/pull/41 should unblock the main issue, needs review before landing and releasing as v2.0.0.

[2017-05-08 20:50] lukemelia commented on #71
Thanks for putting this together @dfalling! In case, it help narrow things down, we use `ember-cli-sass` and the `active-model-adapter` but not `ember-cli-mocha`, `ember-cli-chai`, or `ember-cli-stylelint`.

[2017-05-08 20:54] rwjblue commented on #79
https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/pull/80 should fix things for ember-cli-htmlbars-inline-precompile@0.3, but would love some testers...

[2017-05-08 22:01] DHedgecock commented on #79
I'm in, what should I update to test?

[2017-05-08 22:02] rwjblue commented on #79
I think you should basically just need to update your nested deps that needed 0.3.x to use v0.3.10 (which I just published).

[2017-05-08 22:32] tomlagier opened #82 "Cannot find module 'ember-cli-babel/package'"
https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/commit/4524dd130da507d07264f02bb98524573ae5acc3#diff-168726dbe96b3ce427e7fedce31bb0bcR18

That guy is causing our builds to break. Here's a truncated package.json that you should be able to reproduce with:

[code]

ember-cli-babel is resolving to 5.2.4 and ember-cli-htmlbars-inline-precompile is resolving to 0.3.10

[2017-05-08 22:39] blimmer commented on #82
👍 this just started happening to me.

[2017-05-08 22:49] leighfarrell commented on #82
Experiencing the same issue, with slightly more outdated versions of `ember-cli` and `ember-cli-babel`:

[code]

`ember-cli-htmlbars-inline-precompile` is also resolving to `0.3.10` (note the caret).

[2017-05-08 22:50] blimmer commented on #82
Locking to `"ember-cli-htmlbars-inline-precompile": "0.3.9"` is a quick workaround until a fix is published.

[2017-05-08 23:42] rwjblue commented on #82
😭 so sorry y'all 😢

Released 0.3.11, please test and let me know 😥...

[2017-05-08 23:57] tomlagier commented on #82
Working for me. Thanks for the quick turnaround @rwjblue , your hard work is very much appreciated :)

[2017-05-08 23:58] #82 closed

[2017-05-09 00:04] DHedgecock commented on #79
Works with 0.3.11 👍

Thanks for the uber-fast turnaround.

[2017-05-09 00:04] #79 closed

[2017-05-10 12:40] rwjblue commented on #78
I believe this is fixed (sorry for the delay) with ember-cli-htmlbars-inline-precompile@0.3.11 and ember-cli-htmlbars-inline-precompile@0.4.3.

[2017-05-10 12:40] #78 closed

[2017-05-10 12:55] RobIsHere commented on #78
Thank you 😄👍

[2017-05-10 13:41] rwjblue commented on #71
OK, I've tracked down what is going on. Trying to work on a fix.

[2017-05-10 14:07] dfalling commented on #71
Awesome, thanks for the update.  If there's anything I can do to help, I'm happy to throw some time at it as well.

[2017-05-10 15:35] rwjblue commented on #71
https://github.com/ember-cli/ember-cli/pull/7036 fixes on the ember-cli side, but there are changes that should be made to the various linters too.

[2017-05-10 15:48] rwjblue commented on #71
The following PR's should fix the issue for most folks that are hitting this:

* https://github.com/sir-dunxalot/ember-cli-sass-lint/pull/11
* https://github.com/billybonks/ember-cli-stylelint/pull/66
* https://github.com/tomasbasham/ember-cli-scss-lint/pull/12

Side note: why are there so many different style linters?

[2017-05-17 02:20] NLincoln commented on #71
We are running into this inside of our app.

We do not use any style linters, but do use `ember-cli-sass`. All are upgraded to the latest versions.

[2017-06-15 15:11] craigotis opened #84 "Syntax error/build broken in versions 0.3.7 and newer"
This commit:

https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/commit/d82e88aea19e619a951768cad825d3e742288e0e

Seems to have broken the `0.3.7` build and onward, in certain circumstances. We have a legacy project that was building properly until the 0.3.7 release, at which point it began failing with:
[code]
We're using:
[code]
Which when pulling in anything newer than 0.3.6, fai

[2017-06-15 17:56] rwjblue commented on #84
Seems like an error due to usage of concise function syntax (i.e. `init() {}` instead of `init: function() {}`), which is likely because you are using Node 0.10 or Node 0.12.

I'm happy to merge and release a fix for 0.3.x if you would like to target a PR against the `v-0-3-x` branch.

[2017-06-15 19:59] craigotis commented on #84
Thanks @rwjblue, I opened #85.

[2017-06-22 03:22] bryanhickerson opened #86 "Unable to build ember after updating to 0.4.1 or higher"
I updated ember-cli-htmlbars-inline-precompile when updating to ember-cli 2.13.2 and found I could no longer build ember. I pinpointed it to the 0.4.1 version of this package. Any suggestions on how to diagnose this issue?
[code]

[2017-06-24 19:24] bryanhickerson commented on #86
Updated some dependencies/deprecations and I don't hit this anymore (There was a fair amount of activity since I tried this activity, so it's unclear which actually eliminated the issue). Actually hitting #71 instead, will follow the suggestions there.

[2017-06-24 19:24] #86 closed

[2017-08-01 22:43] johnunclesam opened #89 "With 1.0.0 "broccoli-babel-transpiler is opting out of caching due to a plugin that does not provide a caching strategy: `() => __dirname`.""
From `0.4.4` to `1.0.0` and I receive this:

[code]

**two times.**

I'm using:

[code]

[2017-08-01 23:57] kellyselden opened #90 "Plugin 1 specified in "base" provided an invalid property of "_parallelBabel""
Occurring in 1.0.

[code]

 Seen here:

https://github.com/kellyselden/package-hint-historic-resolver/pull/435
https://travis-ci.org/kellyselden/package-hint-historic-resolver/jobs/259946508#L2824

https://github.com/ember-fastboot/ember-cli-fastboot/pull/463
https://ci.appveyor.com/project/embercli/ember-cli-fastboot/build/197/job/rsjru7fvih38l8qb#L187

[2017-08-02 00:18] rwjblue commented on #90
@mikrostew - Can you take a look?

[2017-08-02 00:20] rwjblue commented on #89
This also requires a bump of broccoli-babel-transpiler, can you do a `yarn upgrade broccoli-babel-transpiler` to get the latest and let us know if that resolves the issue?

[2017-08-02 09:25] smottt commented on #89
Solved the issue for me, thanks!

[2017-08-02 11:49] rwjblue commented on #89
Awesome, thank you for confirming!

We need to update our peerDependency minimum for this I guess....

[2017-08-02 16:46] #89 closed

[2017-08-02 18:56] mikrostew commented on #90
Looks like https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/pull/91 fixes the main error here.

But I am still seeing this warning twice when running the tests for kellyselden/package-hint-historic-resolver:
[code]

I think ember-cli needs to use broccoli-babel-transpiler 6.1.2, which fixes this issue as well.

[2017-08-02 19:20] johnunclesam commented on #89
Fixed thanks.

[2017-08-02 22:41] mikrostew commented on #90
The caching error is fixed by https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/pull/93.

@kellyselden - I reran the tests for `package-hint-historic-resolver` and that is working for me locally. I had to bump ember-cli-babel to "^6.7.1" for `ember-cli-fastboot` and that is working for me now as well. Does this fix the issue?

[2017-08-03 12:28] btecu commented on #84
This can be closed.

[2017-08-03 12:53] #84 closed

[2017-08-03 12:53] rwjblue commented on #84
Thanks @btecu

[2017-08-06 03:30] kellyselden commented on #90
This is still happening in v1.0.1.

https://travis-ci.org/kellyselden/package-hint-historic-resolver/jobs/261442779#L2804

[2017-08-08 00:25] mikrostew commented on #90
Ah I was reproducing this the wrong way - running `npm run test` was working for me, but on travis this is running code coverage, like `COVERAGE=true npm run test:base`, which fails.

These changes are not playing nicely with `ember-cli-code-coverage`. This is designed to work in the build pipeline, where the plugins are run through broccoli-babel-transpiler which converts any of this parallel stu

[2017-08-08 14:40] rwjblue opened #95 "Cache does not invalidate when ember version changes."
Steps to reproduce:

[code]

All scenarios should pass, but they do not because the inlined precompiled template is using the precompiled output from the wrong Ember version.

Cloneable demo here: https://github.com/rwjblue/___ember-cli-htmlbars-inline-precompile-caching-failure-demo.

[2017-08-08 15:48] rwjblue commented on #95
/cc @mikrostew

[2017-08-08 15:59] rwjblue commented on #95
I believe the issue is that in the parallel case, we only consider the `templateCompilerPath` for our caching params and not its contents ([here](https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/blob/390bcf4ab339455949be82ef0ae8573f07e03390/index.js#L71)). We later add the right `cacheKey` ([here](https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/blob/390bcf4ab3394

[2017-08-09 01:05] chriskrycho opened #98 "Open for typings?"
I've created a working typings definition for the exported `hbs` template function (even though that's not *really* what it is; typings are needed for it nonetheless). We can either go ahead and get it [merged on DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/18769) or, better, do it here. If it's welcome here, I'll open the (tiny) PR for it.

[2017-08-09 01:24] rwjblue commented on #98
I'm happy to have it here, but I'd prefer to not type it as a string (instead use a custom Opaque kind of thing). I don't want TS to be happy if someone does:

[code]

[2017-08-09 01:32] chriskrycho commented on #98
Two bits of follow-up:

1. I've updated the typings over there to be returning a string or an array of strings, since that's what `this.render()` returns. If an opaque type is better, we can go with that.
2. For the moment, I may just leave it over there. I've just spent some time with the resolution algorithm, and I'm not sure there's any good way to tell TS, "Hey, the module you want is over her

[2017-08-09 01:50] chriskrycho commented on #98
Addendum the next: I figured out a way to do it, though it. is. weird. We just need to add a `<reference>` tag explicitly in some other type dependency which gets pulled in. 🤔

[code]

I added this locally to the `node_modules/@types/ember/index.d.ts` and it resolves just fine at that point.

But of course it won't resolve without adding a package.json for the Ember typings that includes `ember-cl

[2017-08-09 02:02] chriskrycho commented on #98
Follow-up for whoever reads this later: it's possible to make this work by adding something like a `resolutions.d.ts` with the relative path to ember-cli-htmlbars-inline-precompile's `index.d.ts`. However, a better solution is simply to have the package be named the same thing as what it actually exports!

[2017-08-09 12:52] #95 closed

[2017-08-09 12:57] rwjblue commented on #8
I believe this is resolved (and this issue is pretty stale).  Closing this, but if there are still folks with issues please open a new issue with a reproduction.

[2017-08-09 12:57] #8 closed

[2017-08-09 12:59] rwjblue commented on #41
While we can definitely fix this, it seems unlikely that we should. Now that ember itself is provided by `npm` via `ember-source` (and `package.json` changes require a server restart), detecting and updating the `ember-template-compiler.js` change would actually end up with a mismatch between the `ember.debug.js` in use and the template compiler being used for inline precompilation.

I'm going to

[2017-08-09 12:59] #41 closed

[2017-08-10 22:03] kellyselden commented on #90
Ok it appears this is now just an issue with how it works with ember-cli-code-coverage.

@mikrostew So you know which project has to change to work, this or them? If them, I can close this and open an issue over there.

[2017-08-10 23:00] rwjblue commented on #90
We need to update ember-cli-code-coverage so that it doesn't have its own babel transpilation step.

[2017-08-10 23:03] kellyselden commented on #90
Cross linked https://github.com/kategengler/ember-cli-code-coverage/issues/133

[2017-08-10 23:03] #90 closed

[2017-11-27 18:46] danilovaz opened #100 "Update Ember-Cli-Babel"
@rwjblue  Maybe we have to update `ember-cli-babel` to version `^6.8.2` ? Is that right?

[2018-01-25 19:52] GavinJoyce commented on #44
@rwwagner90 @Talento90 this might solve it for you:

<img width="803" alt="screen shot 2018-01-25 at 19 51 49" src="https://user-images.githubusercontent.com/2526/35409133-385a0136-0209-11e8-93eb-882354c391cd.png">

[2018-01-26 05:09] rwwagner90 commented on #44
Thanks for the suggestion! I can't even remember what I was trying to use this for now though 😂

[2018-02-17 03:26] DuBistKomisch commented on #100
Yeah I've been getting

[code]

in Yarn for ages.

[2018-03-12 11:36] Turbo87 opened #101 "Make imports from `ember-cli-htmlbars-inline-precompile` work too"
It can be confusing that you have to import from `htmlbars-inline-precompile` while your actual dependency is called `ember-cli-htmlbars-inline-precompile`. This will also slightly improve import path auto completion in some editors.

[2018-03-22 14:15] #101 closed

[2018-04-04 05:58] adambedford opened #105 "Babel 7 support"
Will this addon support Babel 7 soon?
I'm running into an issue over [here](https://github.com/ember-cli/ember-cli/issues/7004) that I hope will be fixed by Babel 7, but I haven't been able to get that working with `ember-cli-htmlbars-inline-precompile`

[2018-07-26 00:21] asakusuma opened #107 "Parallel compilations appears to troll hash-for-dep cache"
I noticed that rebuild time for a particular addon (with a lot of handlebars AST transforms) recently ballooned from a few seconds to 80-90 seconds.

It appears that something (I'm guessing the parallel compile) is causing `hash-for-dep` to be invoked as multiple modules, instead of a single module. Since the `hash-for-dep` cache [is module scoped](https://github.com/stefanpenner/hash-for-dep/blob

[2018-07-26 00:22] stefanpenner commented on #107
thanks, I think I'll try and (tonight) disable the parallel support in this plugin, until we re-work it to not have this issue.

[2018-08-02 19:58] congwenma opened #108 "the plugin didn't export a Plugin instance"
I am running into this problem when running ember scripts

`The plugin {"_parallelBabel":{"requireFile":"./node_modules/ember-cli-htmlbars-inline-precompile/lib/require-from-worker","buildUsing":"build","params":{"templateCompilerPath":"./bower_components/ember/ember-template-compiler","parallelConfig":[]}}} didn't export a Plugin instance`

What is the problem ember-cli is running into here? What

[2018-08-15 07:21] amiller-gh opened #109 "Does not respect `ember-cli-htmlbars`' `wrapper.cacheKey()`"
### Expected Behavior:
Both `ember-cli-htmlbars` and `ember-cli-htmlbars-inline-precompile` should allow plugins to provide the same caching scheme.

### Observed Behavior:
`ember-cli-htmlbars` allows plugins to provide a custom cache key if the addon's `baseDir()` is not sufficient: https://github.com/ember-cli/ember-cli-htmlbars/blob/master/ember-addon-main.js#L121

`ember-cli-htmlbars-inline-pr

[2018-08-20 17:41] scalvert commented on #107
Specifically, the issue appears to be localized to the changes in babel-plugin-htmlbars-inline-precompile. Looking at the diff in [v1.0.2 to v1.0.3](https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/compare/v1.0.2...v1.0.3), you can see that one of the dependency bumps includes babel-plugin-htmlbars-inline-precompile, [where it reved version v0.2.3 to v0.2.5](https://github.com/emb

[2018-08-23 20:42] stefanpenner commented on #107
@scalvert the plugin in question, needs to reduce what hash-for-dep considers a dependency of it. I explained how to @asakusuma.

Previously, this plugin was not correctly considering it's cache key or opted out of parallel.

Both the plugin in question, and this plugin need some work. But if the above recommendation I gave asa is applied the problem will go away entirely, and it will perform bett

[2018-08-29 22:09] alexlafroscia commented on #105
With `ember-cli-babel@7` released, it would be really nice to clarify the compatibility story here!

[2018-08-30 16:33] asakusuma commented on #107
@stefanpenner since I forgot, and for future travelers, can you explain how to control what `ember-cli-htmlbars-inline-precompile`'s `hash-for-dep` thinks is a dependency?

[2018-08-30 20:01] alexlafroscia commented on #105
Sweet! I'm can try to put that PR together since I'm trying to get our application at work using the latest Babel

[2018-09-07 20:30] wagenet commented on #100
See #110

[2018-09-07 20:30] wagenet commented on #105
See #110

[2018-09-11 17:41] stefanpenner commented on #107
Improve hash-for-dep docs: https://github.com/stefanpenner/hash-for-dep/blob/master/README.md#what-does-hash-for-dep-consider-a-dependency

If something can be made clearer please open a PR/issue over there.

We will eventually add docs to the various consuming repos that have plugin authorship extensions (htmlbar/babel)

[2018-10-04 10:41] quaertym opened #113 "Renders extra div around component"
When I render the component below in test, using:
[code]

[code]

[code]

The component is rendered as:
[code]

Is this expected?

[2018-10-04 17:51] rwjblue commented on #113
mind migrating to emberjs/ember-test-helpers?

[2018-10-04 18:31] quaertym commented on #113
I do use `import { render } from '@ember/test-helpers';`

[2018-10-12 12:46] #105 closed

[2018-12-11 07:49] Turbo87 opened #155 "TypeError: Path must be a string. Received undefined"
After updating to v2.0.0 I've started seeing the following errors on CI:

[code]

(see https://github.com/emberjs/ember-mocha/pull/269 and https://travis-ci.org/emberjs/ember-mocha/jobs/466133058)

[2018-12-11 11:49] rwjblue commented on #155
Tldr; 2.0 dropped support for non-npm versions of Ember so in order to test Ember < 2.12 you have to use 1.x.

We should absolutely make this a better error message...

[2018-12-12 21:10] rwjblue commented on #155
FYI - This was introduced by https://github.com/emberjs/ember-test-helpers/pull/481.

[2018-12-12 21:11] rwjblue commented on #155
And bower support was dropped in https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/pull/126

[2018-12-13 08:50] #100 closed

[2018-12-13 15:07] #155 closed

[2019-05-15 20:26] allthesignals opened #242 "use Ember.HTMLBars.compile("…") within your tests"
The docs mention this. How do I do that?

[2019-06-03 16:26] rwjblue commented on #242
In general it's best to _not_ do that, can you help me understand how/why you need dynamic templates?

---

I believe you should do:

[code]

[2019-06-03 17:02] allthesignals commented on #242
@rwjblue thanks for the response! I'll give that a try...

I realize it's sort of awkward, but I ran into this because I was working on some component test stubs that had partially-shared template code. In this case I was trying to "extend" what the template of one component stub was _yielding_ (in an effort to prevent duplication).

For example,

[code]

[code]

A yielded hash imo is like a publi

[2019-07-31 19:49] samselikoff opened #268 "dedent version of `hbs`?"
Is there appetite for a version of `hbs` that dedents the template string?

I find myself often doing things like

[code]

with an npm package, but it always feels like extra work & is most of the time (always?) what I want.

You can see [in Ember Animated's codebase](https://github.com/ember-animation/ember-animated/blob/d36310bad09d2888a1213b4d0aa9fa7edc3066c2/tests/integration/components/animat

[2019-08-01 14:58] rwjblue commented on #268
Unsure. I don't really like the idea that we'd have to provide a bunch of different `hbsFoo` style exports, but I am sensitive to the specific issue.

Specifically,`dedent` isn't really "good enough" here (also I much prefer `stripIndent` which I commonly use from common-tags npm package over `dedent`) since sometimes you want to effectively trim each line (leading and trailing spaces).

[2019-08-01 20:10] samselikoff commented on #268
I wish there was a way to customize tag functions. Not sure what it would look like.

Or maybe `hbs` could have some different properties that are different tags

[code]

[2019-08-02 00:25] rwjblue commented on #268
Ya, `hbs.stripIndent` "feels" vaguely better to me.

[2019-09-06 15:42] rwjblue opened #298 "Move functionality to ember-cli-htmlbars and deprecate?"
The majority of the code in this addon is actually **copied** from ember-cli-htmlbars. It doesn't seem obviously better to force users to understand the difference between ember-cli-htmlbars and ember-cli-htmlbars-inline-precompile.

I think we should add functionality to ember-cli-htmlbars to setup the `babel-plugin-htmlbars-inline-precompile` itself (btw, that being its own package seems totally

[2019-09-06 17:22] rwjblue commented on #298
Chatted a bit with @stefanpenner about this, going to start moving forward...

[2019-09-06 17:31] Turbo87 commented on #298
SGTM! 👍

[2019-09-06 17:35] kellyselden commented on #298
Is there any benefit lost from the dep vs devDep separation you might get, like from an addon perspective?

[2019-09-06 19:13] rwjblue commented on #298
No, I don't think so. ember-cli-htmlbars behaves basically in the same way as this package (when a dep of an addon it only processes that addon's templates). The only difference would be that you can't have _just_ ember-cli-htmlbars-inline-precompile support (vs having support for both template files and inline ones).

[2019-10-01 16:47] rwjblue commented on #109
This should be resolved now (see https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/issues/298, but this library is being deprecated completely in favor of "just using ember-cli-htmlbars").

[2019-10-01 16:47] #109 closed

[2019-10-01 21:29] #298 closed

[2020-10-12 22:05] #242 closed

[2020-10-12 22:05] #7 closed

[2020-10-12 22:05] rwjblue commented on #98
landed in ember-cli-htmlbars

[2020-10-12 22:05] #98 closed

[2020-10-12 22:06] rwjblue commented on #108
sorry I missed this, closing for now (archiving the repo)

[2020-10-12 22:06] #108 closed

[2020-10-12 22:06] #71 closed

[2020-10-12 22:07] rwjblue commented on #113
should be resolved with modern testing harness under octane

[2020-10-12 22:07] #113 closed